@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/cascadia-code';
@import './typography.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans: 'Cascadia Code Variable', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Cascadia Code Variable', ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* light theme corresponds to nord palette */
:root {
  --radius: 0.625rem;
  --background: #eceff4;
  --foreground: #2e3440;
  --card: #e5e9f0;
  --card-foreground: #2e3440;
  --popover: #eceff4;
  --popover-foreground: #2e3440;
  --primary: #5e81ac;
  --primary-foreground: #eceff4;
  --secondary: #e5e9f0;
  --secondary-foreground: #2e3440;
  --accent: #d8dee9;
  --accent-foreground: #2e3440;
  --muted: #e5e9f0;
  --muted-foreground: #4c566a;
  --destructive: #bf616a;
  --destructive-foreground: #eceff4;
  --border: #d8dee9;
  --input: #d8dee9;
  --ring: #88c0d0;
}

/* whereas dark is catpuccin's */
[data-theme='dark'] {
  --background: #1e1e2e;
  --foreground: #cdd6f4;
  --card: #181825;
  --card-foreground: #cdd6f4;
  --popover: #1e1e2e;
  --popover-foreground: #cdd6f4;
  --primary: #cba6f7;
  --primary-foreground: #11111b;
  --secondary: #313244;
  --secondary-foreground: #cdd6f4;
  --accent: #313244;
  --accent-foreground: #cdd6f4;
  --muted: #181825;
  --muted-foreground: #a6adc8;
  --destructive: #f38ba8;
  --destructive-foreground: #11111b;
  --border: #313244;
  --input: #313244;
  --ring: #b4befe;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}
